
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: white;
}


video{
  width: 360px;
  height: 640px;
  z-index: 3;
}

.intro2{
  z-index: 5;
  top: 1vh;
  border-color: deeppink;
  color: greenyellow;
}