
@font-face {
  font-family:"active" ;
  src: url(font/ReadyActiveTest-Regular.otf);
}


@font-face {
  font-family:"activel" ;
  src: url(font/ReadyActiveTest-Light.otf);
}


@font-face {
  font-family:"activeb" ;
  src: url(font/ReadyActiveTest-Bold.otf);
}



@font-face {
  font-family:"authentic" ;
  src: url(font/authentic-sans-condensed-90.woff2);
}
body {
  width: 100vw;
  height: 1000vh;
  margin: 0;
  background-image: url("sparkle.gif");
  background-repeat: repeat;
}

h1 {
  font-family: "activel";
  position: fixed;
  z-index: 5;
  font-size: 25vh;
  line-height: 190px;
  mix-blend-mode:difference;
  color: #000000;
  margin: 0;
  top: 5px;
  left: 15px;
}

span {
  font-family: "active";
}

span:hover {
  font-family: fantasy;
  font-size: 20vh;
}

.QR1 {
  position: absolute; 
  height: 50%; 
  top: 800vh;
  left: 65%;
  animation: rotate 1s linear infinite paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 20;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
      transform: rotate(360deg);
  }
}



.video-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  scroll-snap-align: start;
}
.question {

  font-family: 'authentic';
  font-size: 5vh;
  top: 94vh;
  left: 75vw;
  position: relative;
  z-index: 9;
  mix-blend-mode: darken;
  color:rgb(0, 0, 0);
  border: 25px;
  padding: 1vw;
  border-color: black;
  width: 20%;
}

p {

  font-family: 'authentic';
  font-size: 5vh;
  top: 229vh;
  left: 75vw;
  position: absolute;
  z-index: 9;
  mix-blend-mode: darken;
  color:rgb(0, 0, 0);
  border: 25px;
  padding: 1vw;
  border-color: black;
  width: 20%;
}





.welt {

  font-family: 'authentic';
  font-size: 5vh;
  top: 1vh;
  left: 68vw;
  position: absolute;
  z-index: 19;
  mix-blend-mode:multiply;
  
  width: 20%;
}

.spirale  {

  font-family: 'authentic';
  font-size: 5vh;
  top: 11vh;
  left: 43vw;
  position: absolute;
  z-index: 20;
  mix-blend-mode:multiply;
  width: 40%;
}

.spider  {
  font-family: 'authentic';
  font-size: 5vh;
  top: 75vh;
  left: 45vw;
  position: absolute;
  z-index: 20;
  mix-blend-mode:multiply;
  width: 40%;
  transform: rotate(60deg);
}

.more {
  background-color: white;
  border: 5px dotted black;
  padding: 20px;
 width: 300px;
 height:250px;
  margin: 20px auto;
  font-size: 16px;
  position: absolute;

  top: 400vh;

  left: 40vw;
  line-height: 1.5;
  font-family: "authentic";
  font-size: 16px;

  z-index: 100;
  line-height: 1.5;
}
.intro2{
  position: absolute;
  top: 300vh;
  left: 2vw;
  font-size: 10vh;
  mix-blend-mode: multiply;
  
}